.page-header
  %h1
    = @post.title
    %small by #{@post.user.user_name}
.panel.panel-default
  .panel-heading Published #{time_ago_in_words(@post.updated_at)} ago
  .panel-body
    = @post.body
= render 'comments'



